* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background-color: #E5E5F5;
}

#to-do-lists {
    width: 35vw;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 2px 1px 10px 5px rgba(208, 202, 233, 0.5),
        -2px -2px 10px 5px rgba(208, 202, 233, 0.5);
}

.inner-container {
display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.back-arrow {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #8787C1;
    padding-bottom: 10px;
}

.back-arrow h1 {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.today {
    display: flex;
    color: #8787C1;
    align-items: center;
    justify-content: space-between;
}

.today h2 {
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.progress-bar-container {
    width: 50%;
    margin-top: 20px;
}

.progress-bar {
    height: 20px;
    background-color: #3498db;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.progress-bar p {
    text-align: center;
}

.listDiv {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 20px;

}

list-item {
    margin-top: 4px;
    color: #ACACAC;
    font-size: 18px;
}

.pull {
    color: #ACACAC;
    font-size: 18px
}

hr {
    width: 90%;
    color:hwb(0 66% 34% / 0.22);
    text-align: center;
    margin: 20px auto

}

#recurringDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.recur {
    width: 100px;
    padding: 10px 0px;
    border: none;
    border-radius: 30px;
    color:#999775
}

recurring-lists[name="Daily"] .recur {
    background-color: #F5ED84;
}

recurring-lists[name="Weekly"] .recur {
    background-color: #B5EA81;
}

recurring-lists[name="Monthly"] .recur {
    background-color: #F8AAAA;
}

recurring-lists[name="Occasional"] .recur {
    background-color: #B3B3EF;
}

.buttonDiv {
    width: 25px;
    height: 25px;
    /* padding: 5px 10px; */

}

.list-button {
    /* padding: 10px; */
    /* border-radius: 50%; */
    /* border: 1.5px solid #B5EA81 */
}